:root {
  /* Colors */
  --c-silver: #e6e6e6;
  --c-gray: #424245;
  --c-white: #f5f5f7;
  --c-blue: #0066cc;
  --c-light-blue: #0077ed;
  --c-orange: #f56300;
  --c-phone-frame: #161616;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--c-silver);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

#title {
  margin-top: 40px;
}

.phone-frame {
  border-radius: 40px;
  background-color: var(--c-phone-frame);
  width: 340px;
  height: 700px;
}

.container {
  background-color: var(--c-white);
  border-radius: 10px;
  padding: 20px 20px 0px 20px;
  margin: 80px 10px 0px 10px;
  width: 320px;
  height: 540px;
  display: flex;
  flex-direction: column;
}

label[for="user-input"] {
  font-size: 22px;
  margin: 0 0 16px 0;
}

#user-input {
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 240px;
  height: 32px;
  padding: 2px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 2px 2px 15px var(--c-silver);
}

#results-div {
  margin: 16px 10px 0px 10px;
  height: 380px;
  max-height: 380px;
  padding: 0 12px;
  overflow: auto;
}

.result-num {
  display: block;
  text-align: start;
  margin-bottom: 10px;
}

.valid {
  color: var(--c-phone-frame);
}

.invalid {
  color: var(--c-orange);
}

.btn-container {
  display: block;
  height: 40px;
}

#check-btn,
#clear-btn {
  background-color: var(--c-blue);
  border: none;
  border-radius: 5px;
  margin: 8px auto;
  color: var(--c-white);
  font-size: 1.2rem;
  width: 44%;
  height: 2rem;
}

#check-btn:hover,
#clear-btn:hover {
  cursor: pointer;
  background-color: var(--c-light-blue);
}

#check-btn:active,
#clear-btn:active {
  background-color: var(--c-blue);
}
